
.logo
{
  float: left;
  text-align: left;
  padding: 38px;
  }

.btn {
  justify-content: center;
  border-radius: 8px;
  background-color: #fc6602;
  flex-grow: 1;
  color: #fff;
  text-align: center;
  padding: 8px 44px;
  font: 12px Inter, sans-serif;
}


.header-right .btn:hover {
  background-color: #8b8b8b;
  color: rgb(255, 255, 255);
}

.header-right {
  float: right;
  margin-top: 34px;
  align-self: stretch;
  display: flex;
  padding: 38px;
  gap: 18px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .header-right {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    white-space: initial;
  }
}


.products {
  font-family: Inter, sans-serif;
  align-self: start;
  margin-top: 9px;
  flex-grow: 1;
}

.bigimage{
    display: flex;
    line-height: normal;
    flex-shrink: 0;
    padding: 24px;
    animation: rotation 20s infinite linear ;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.text {
    color: #fc6602;
    margin-top: 212px;
    margin-right: 0px;
    margin-left: 12px;
    font: 400 36px Inter, sans-serif;
  }

.sometext{
  color: #000;
  margin-top: 34px;
  margin-left: 12px;
  font: 400 12px Inter, sans-serif;
}

.fourboxes{
      justify-content: space-between;
      display: flex;
      margin-top: 34px;
      margin-bottom: 24px;
      width: 306px;
      max-width: 100%;
      padding-right: 80px;
      gap: 60px;
    }
    @media (max-width: 991px) {
      .fourboxes {
        padding-right: 50px;
      }
    }

.one {
  background-color: #fc6602;
  margin-left: 12px;
  height: 8px;
  width: 12px;
  flex: 1;
}
.two {
  background-color: #d9d9d9;
  height: 12px;
  width: 12px;
  flex: 1;
}
.three {
  background-color: #d9d9d9;
  height: 8px;
  width: 12px;
  flex: 1;
}
.four {
  background-color: #d9d9d9;
  height: 8px;
  width: 12px;
  flex: 1;
}



.body{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.smibi{
  display: flex;
  justify-content: center;
  padding-left: 48px;

}


.bigimageside {   
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    padding: 24px;
}
@media (max-width: 991px) {
  .bigimageside {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    white-space: initial;
  }
}

.socialmediaicons{
  position: relative;
  top: 200px;
  right: 24px;
  font-size: xx-large;
  opacity: 0.8;
  align-self: baseline;
  flex-shrink: 5;

}



.fa {
  padding: 20px;
  font-size: 70%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 12px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:white;
  color:  #3B5998;
}

.fa-twitter {
  background: white;
  color: #55ACEE;
}

.fa-youtube {
  background: white;
  color: #bb0000;
}

.fa-instagram {
  background: white;
  color: #125688;
}


.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 34px;
  margin-top: 34px;
  margin-bottom: 48px;
  max-width: 100%;
  padding-right: 30px;
  gap: 30px;
}



.boxen{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  overflow: hidden;
  flex-grow: 1;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  width: 100px;
  padding: 114px 60px 50px;
  font: 900 30px Inter, sans-serif;
  background: black;
  object-fit: cover;
  border: 2px solid black;
  opacity: 1;
}

.boxenimage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.boxenimage:hover{
  opacity: 0.2;
}

.recep{
  text-align: center;
  margin: 10%;
  font-weight: bold;
  color: white;
}


.bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 48px;
  gap: 64px;
}

.imageofbramen{
  border-radius: 4px;

}

.imageofbramen:hover{
  opacity: 0.7;
}

.bottombox1{
  text-align: center;
}

.bramentext{
  color: #000;
  margin-top: 12px;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.actualprize{
  color: #000;
  margin-top: 39px;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
}

.discountedprize{
  color: #FC6602;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  margin-top:12px
}

.Noofitems{
  color: #969696;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  margin-top: 24px;
}

.Incartitems{
  text-align: center;
  color: #000;
  margin-top: 32px;
}

.Incartitemsitem{
  opacity: 0.5;
}